* {
	margin:0;
	padding:0;
	list-style:none;
}
#i1{
	width: 1450px;
	height: 120px;
}
#i2{
	width: 1450px;
	height:500px;
}

#father{
	width: 1450px;
	height: 350px;
}

#a1{
	width: 1450px;
	height: 50px;
	background-color: brown;
}
.u1{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:14px;
	padding-bottom:14px;


}

#a1 li{
	display: inline;
	padding: 130px;
	
}
a:link,a:visited{
	font-weight:bold;
	color: #FAEBD7;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;

}
a:hover,a:active{
	/* background-color: antiquewhite; */
}
#login{
	width: 1450px;
	height: 300px;
	background-color: #FAEBD7;
}
.l1{
	width: 150px;
	height: 30px;
	padding-left: 150px;
	padding-top: 60px;
	float: left;
}
.p1{
	font-size: 30px;
	display: inline;
	color: darkred;
	font-weight: bold;
}
.p2{
	font-size: 40px;
	display: inline;
	color:darkred;
	font-weight: bold;
}


#f1{
	width: 1000px;
	height: 200px;
	padding-top: 50px;
	padding-left: 450px;
	
	
	
}

span{
	color: darkgoldenrod;
	font-weight: bold;
	font-size: 20px;
}

.s1{
	width: 90px;
	height: 28px;
	
	
}
.s2{
	width: 90px;
	height: 28px;
	
}

.p4{
	padding-left: 326px;
}

#pic{
	width: 100px;
	height: 0px;
	float: right;
	padding-right: 350px;
	padding-bottom: 0px;
	position: static;
} 
.pic1{
	width: 350px;
	height: 300px;

	
	
}
/* <img src="./img/3/advetisie.png" class="pic1" > */



